footer{
    // display: flex;
    // flex-direction: row;
    position: fixed;
    bottom: 0;
    background-color: cyan;
}

.footer-distributed{
    background-color: cyan;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}