.Grid{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.land-display { 
    // display: flex; 
    // flex-direction: column;
    // justify-content: center;
    // align-content: center;
    display: inline-block;
    flex-direction: row;
    border: crimson 1px solid;
    padding: 5px;
    margin: 3px;
    background-image: url("https://gallery.yopriceville.com/var/albums/Free-Clipart-Pictures/Silhouettes-PNG/New_York_City_Skyline_Silhouette_PNG_Clip_Art.png?m=1523526551");
    background-size: contain;
    text-shadow: 2px 2px whitesmoke,

    // width: 250px;
    // height: 250px;

}

.land-display:hover{
    transform: scale(1.05);
    z-index: 2;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    opacity: 100%;

}
