a { 
    text-decoration: none;
    color: #3f71ae;
}

nav { 
    display: flex; 
    justify-content: space-between;
    border: solid 1px #3f71ae;
    font-size: 20px;


    .navLeft, .navRight { 
        display: flex; 
        justify-content: center;
        align-content: center;
    }

    .navRight{
        margin-right: 10px;
    }
}

footer { 
    border: solid 1px #FF4500;
    background-color: rgba(0, 0, 0, 0.7);
    // opacity: 0.5;
}